{% extends 'base.html' %}

{% block content %}
<div class="container"></div>
    <!--Header Section-->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's build the future of marvel character collecting together!</h2>
            <h5>Create an amazing API tool for marvel character collecting developers.</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../static/images/marvel-univ.jpg" alt="Hero Header Image">
        </div>
    </header>


    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../static/images/api.png" alt="API Image" id="api-image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have those for you!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/graphql.png" alt="graphql-image" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>
                If you want all data from one endpoint, we have that too!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/db.png" alt="database-image" id="database-image">
            <h4>Backed By a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database.
            </p>
        </div>
    </section>
    <!--End of Collection Features-->

    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../static/images/community.png" alt="Community Image" id="Community-image">
        </div>

        <div class="col-12 col-md-6" id="Community-section-text">
            <h4>Talk with like minded marvel character collectors</h4>
            <p>
                Talk with other devs around the world and collab
                on projects with your data. Join our slack channel and give
                a star to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Slack Channel!</button>
            </div>
        </div>
    </section>
    <!--End of Community Section-->

    <!--Start of Footer-->
    <footer id="footer">
            <img src="../static/images/hero-api-tech-logo.png" alt="Hero API Tech Logo" id="footer-logo">
        </div>
    </footer>
    <!-- End of Footer -->

</div>

{% endblock content %}